
#logo{

	height: 18vh;
	left: 30vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;


}

h1{
	padding-bottom: 10em;
	margin-bottom: 8em;
}
h2{
	    font-size: 22px;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

label {
	display: block;
	margin-bottom: 0;
	

}


.form-control {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  
  padding: 2px 5px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 0.5px;
  border-radius: 3px;
 width: 200px;
 margin-bottom: -1%;
}
.btn-primary{

	background-color: white;
	display: block;
	padding-left: : 0.9em;
	padding-right: : 1em;
	margin-top: 1em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.form-box{
	text-align: left;
	display: block;
	margin: 0 auto;
}
form {
	width: 250px;
	margin: 0 auto;
    margin-top: -1.5%;
}
#rcorners2 {  
      	border-radius: 25px;
      	border: 2px solid #000000;
      	padding: 20px; 
      	width: 500px;
      	height: 450px;  
      	left: 50%;  
      }
.help{
	text-align: center;
    font-size: 14px;
    padding-left: 20px;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.box{
	padding-top: 20px;
	float: left;
}
h3{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:30px;
  text-align: center;
}

p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.code{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:60px;

}

.highlight{
font-size: 20px;
color: blue; 
text-align: center;

}

#rcorners2 {  
        border-radius: 25px;
        border: 2px solid #000000;
        padding: 20px; 
        width: 500px;
        height: 450px;  
        left: 50%;  
      }
.glyphicon-ok .glyphicon-remove .glyphicon-warning-sign{
	position: absolute;
	text-align: right;
	left: 100%;
}
.notes{

font-color: silver;

}
.feedback{

    font-size: 14px;
    padding-top: 60px;

}